<h1 mat-dialog-title align="center">{{this.title}}</h1>
<div mat-dialog-content align="center">
  <form [formGroup]="workForm">
    <input matInput formControlName="TL_ID" hidden>
    <input  matInput formControlName="contact_id" hidden>
    <table *ngIf="this.Type_ID==2">
        <tr *ngFor="let item of items">
            <td style="color: teal;">{{item.LineItem_Name}}</td><!---->
            <td style="color: orangered;">{{item.Quantity}} {{item.Unit_Code}}</td><!--{{row.Quantity}} -->
        </tr>
    </table>
  <p>{{this.Msg}}</p>
  <mat-form-field>
    
    <input  matInput formControlName="rate" value="item_rate">
  </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="accent" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="saveRate(workForm.value)">Save</button>
</div>


<!--<h1 matDialogTitle>Add Rate</h1>
<form [formGroup]="workForm">
    <input matInput formControlName="TL_ID" hidden>
    <table>
        <tr *ngFor="let item of items">
            <td style="color: teal;">{{item.LineItem_Name}}</td>
            <td style="color: orangered;">{{item.Quantity}} {{item.Unit_Code}}</td>
        </tr>
    </table>
    <div>
    <mat-form-field>
        <mat-label>Enter Rate</mat-label>
        <input matInput formControlName="rate">
      </mat-form-field>
</div></form>
<div mat-dialog-actions class="pt-24">
    <button mat-raised-button  class="mat-primary mr-16" (click)="saveRate(workForm.value)">Save</button>
    
</div>-->

