.wbstepperbutton{
  text-align: center;
}
.wbstepperbutton button{
  margin:20px;
}
.wbstepperform{
  display: flex !important;
  justify-content: center!important;
  align-items: center !important;
}
.grid-container h3{
 
  color:#303030
}