<app-top-nav></app-top-nav>

<!--<div class= "grid-container" >
  <div class="container">
    <app-back-button></app-back-button>
  </div>
  <div class="container">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">     
      <mat-grid-tile >   
          <a href="/#new-home"   role="button"  class="mx-2">
          <img  src="assets/img/newhome.png" alt="New Home">  </a>        
      </mat-grid-tile>
      <mat-grid-tile>   
          <a href="#" role="button">
        <img  src="assets/img/renovation.png" alt="Renovation" class="mx-2"> </a>    
      </mat-grid-tile>      
  </mat-grid-list>  
  </div>    
</div>-->

  <div class="grid-container" fxLayout="column"  fxLayoutGap="5px" minHeight="1000px">
    <div fxFlex="30">
        <app-back-button type="1"></app-back-button>
    </div>
    <div  class="flex-container" fxFlex="30"> 
      
      <div fxLayout="row"  fxLayout.xs="column" fxLayoutGap="5%" fxLayoutAlign="center center">
              
        <div  fxFlex="20%" fxFlex.xs="100%" class="categories">
          <mat-card  matRipple (click)="onCardClick(1)" #newhome>           
          <img mat-card-image src="assets/img/newhome.png">              
          <mat-card-content >
            <p>
              New Home                   
            </p>                  
          </mat-card-content>        
         </mat-card >
        </div>  
        <div  fxFlex="20%" fxFlex.xs="100%" class="categories">
          <mat-card (click)="onCardClick(2)" #renovation>                 
          <img mat-card-image src="assets/img/renovation.png">              
          <mat-card-content >
            <p>
              Renovation                   
            </p>                  
          </mat-card-content>
        
        </mat-card>
        </div>  
        
         
       </div>
      
    </div>
    
    
  </div>
