

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.wbtable td
{
    vertical-align: top;
}
.wbtable td i
{
    line-height: 0rem;
}
.wbtable button
{
    width: 18px;
    height:18px;
    font-size: 10px;
    padding:0 9px;
   line-height: 20px;
   min-width:40px;
  
}
table {
    width: 100%;
  }
  
