<div class="grid-container">
  <h1 class="mat-h1">Welcome {{this.AssocName}}</h1>
  <div class="wbtable">
    <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="descr">
        <th mat-header-cell *matHeaderCellDef> Work Detail</th>
        <td mat-cell *matCellDef="let row" >
           <p>{{row.Cust_FirstName}} {{row.Cust_LastName}}<br>
           <i  class="mat-small" style="color:orange" *ngIf="row.WorkDetail">{{row.WorkDetail}}</i><br>
           <i  class="mat-small" style="color:purple"  *ngIf="row.WorkSpec"> {{row.WorkSpec}}</i>
           <i  class="mat-small" style="color:teal"*ngIf="row.Sch_Site_Visit"> Site Visit Scheduled on {{row.Sch_Site_Visit}}</i><br>
           <i  class="mat-small" style="color:purple" *ngIf="row.Act_Site_Visit"> Site Visited on {{row.Act_Site_Visit}}</i></p>
          </td>
      </ng-container>
      
    
      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let row"> 
            <p>{{row.Tender_Status_Name}}<br>
              <button mat-raised-button color="primary" (click)="viewTender(row.Work_ID)">View</button>
            </p></td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="loc">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let row">
            <p> {{row.Loc_Name}}</p> </td>
      </ng-container>
    
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="Leads"></tr>
    </table>
  </div>
  
</div>
