<div class="grid-container">
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="start">
<div fxFlex="80%">
  <div fxLayout="row" class="seller" fxLayoutAlign="start start"  *ngFor="let assoc of tenderAssocs">
    <div *ngIf="assoc.SelectStatus==1">
    <table>
            <tr><!-- *ngFor="let cust of custDetails"-->
                <td  class="mat-display-1 wb-grey text-right">Work Order</td>
                <td class="mat-display-1 wb-grey text-right">BID- {{assoc.Work_ID}}</td>
            </tr>

            <tr>
                <td class="mat-small wb-grey text-right">Issue Date</td>
                <td class="mat-small wb-grey text-right" >{{this.IssueDate | date:'dd/MM/yyyy'}}</td><!--*ngIf="assoc.Work_Attrb_ID==27"-->
            </tr>

            <tr><!-- -->
                <td class="mat-small wb-grey text-right">Work Location</td>
                <td class="mat-small wb-grey text-right">{{assoc.Address_town}}</td>
            </tr>

            <tr *ngIf="this.WorkType"><!-- *ngFor="let assoc of finalAssoc"-->
                <td class="mat-small wb-grey text-right">Scope</td>
                <td class="mat-small wb-grey text-right">{{this.WorkType}}</td>
            </tr>
        </table>
        <table>
          <tr>
            <td *ngFor="let cust of custDetails">
              <div class="mat-caption" style="color: maroon; font-weight: bold;">First Party</div>
              <div class="mat-small wb-grey">{{cust.Cust_FirstName}} {{cust.Cust_MidName}} {{cust.Cust_LastName}}</div>
              <div class="mat-small wb-grey">{{cust.Loc_Name}}</div>
              <div class="mat-small wb-grey">Ph : {{cust.Contact_phone}}</div>
            </td>
            <td></td>
            <td *ngIf="assoc.SelectStatus==1">
              <div class="mat-caption" style="color: maroon; font-weight: bold;">Second Party</div>
              <div class="mat-small wb-grey">{{assoc.Assoc_FirstName}} {{assoc.Assoc_LastName}}</div>
              <div class="mat-small wb-grey">{{assoc.Address_town}}</div>
              <div class="mat-small wb-grey">Ph: {{assoc.Contact_phone}}</div>
            </td>
            <td></td>
            <td>
              <div class="mat-caption" style="color: maroon; font-weight: bold;">Third Party</div>
              <div class="mat-small wb-grey">Infrasynergics Pvt. Ltd</div>
              <div class="mat-small wb-grey">Kolenchery</div>
              <div class="mat-small wb-grey">Ph : 963258741</div>
            </td>
          </tr>
        </table>
        <div class="mat-small wb-grey">
          Hereinafter refered to as CONTRACTOR for the Performance of Services as refered to in the SCOPE OF WORK in Accordance with the Terms & Conditions Stipulated herein. 
  </div>
  <table>
    <tr *ngFor="let item of items">
      <td>
        <div class="text-left mat-caption" style="color: teal; font-weight: bold;">  {{item.LineItem_Name}}</div>
          
            <div  class="mat-small wb-grey" >{{item.Comments}}</div>
            <div  class="mat-small wb-accent-b" >{{item.Quantity}} {{item.Unit_Code}}</div>
           
            
      </td>
      <td>
        <div class="text-right mat-caption" style="color: black; font-weight: bold;" *ngIf="item.Value">Rs. {{item.Value}}</div>  
          
            <div  class="mat-small wb-green" *ngIf="item.Rate">Rs. {{item.Rate}} per {{item.Unit_Code}}</div>
            
         
        
      </td>
      
    </tr>
  </table>
  <table>
    <tr>
      <td>

      </td>
      <td class="text-right">
        <div class="mat-caption wb-green" style="font-weight: bold;">Total :  {{this.Total}}</div>
        <div class="mat-caption wb-green" style="font-weight: bold;">Total :  {{this.Total_Words}}</div>

      </td>
    </tr>
  </table>
      </div>  
</div>
    
<div fxLayout="row">
  <div class="note"> Key Deliverables :</div> </div>
  <div  *ngFor="let key of keys">
  <li class="mat-small">
         {{key.Key_Name}}
       </li>  </div>  
       
       <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <div class="note"> General Terms & Conditions :</div></div>
        <div  *ngFor="let term of terms">
          <li class="mat-small">
              {{term.Term_Name}}
               </li>  </div>
               <div fxLayout="row" fxLayoutAlign="space-between stretch">
                      <div class="mat-small">
                              The Agreement has duly signed by the representatives of the  Parties in the presence of WITNESSING Agent.
                              The work order is read and understood by both parties and therefore signed for execution by authorized personal for each party.
                      </div>
                      </div>
                      <div class="note"> Other Terms & Conditions :</div>
                                               
                      <div class="note"> 1. Exclusive Agreement</div>
                
             <div class="small-note">This Work Order (W.O) constitutes the exclusive agreement between the parties hereto. Any Special
                  terms and conditions mentioned in the W.O shall take precedence over these Standard Terms and 'Conditions'.These ‘Standard Terms and Conditions’ cannot be changed  without prior written consent of both parties. Additionally, the goods and services shall conform to specifications,drawings  and any other description attached hereto and shall be free from defects in materials and workmanship.
             </div>
              

            
                      <div class="note"> 2. Work Timings</div>
                
             <div class="small-note">The normal site working timing shall be 8 am to 6 Pm , however the contractor have privilege to extend the work time by provide special request to the customer.
             </div>
             <table>
               <tr *ngFor="let work of works">
                 <td>
                  <div class="text-left mat-caption" style="color: teal; font-weight: bold;">  {{work.Work_Stage}}</div>
          
                  <div  class="mat-small wb-grey" >{{work.Comments}}</div>
                
                 </td>
                 <td class="text-right">
                  <div class="text-right mat-caption" style="color: black; font-weight: bold;" *ngIf="work.Start_Date"> Starts On {{work.Start_Date}}</div>  
                  <div class="text-right mat-caption" style="color: black; font-weight: bold;" *ngIf="work.End_Date"> Ends On {{work.End_Date}}</div>  
                  <div  class="mat-small wb-green" *ngIf="work.Duration">Duration {{work.Duration}} days</div>
                  
                 </td>
               </tr>

             </table>
             <div class="note"> 3. Payment</div>
                                               
             <div class="small-note">Customer has to transfer the agreed contract value as per the payment schedule mentioned in the work order only to the escrow account of M/s Infrasynergics Private limited with Account details as mentioned below for making payments to contractors/associates & material vendors

                Account Name: Infrasynergics Private Limited
                
                Account Number:4805002100001029
                
                Bank: Punjab National bank
                
                Branch: Kolenchery
                
                IFSC:PUNB0480500
                
                 
                
                Infrasynergics Private limited will collect all the material bills in the name of the customer and make payments directly to the vendor after verifying material specifications. All labour payments will be made directly to the contractor/associate after verifying work quality & stage based completion. The customer is not liable to pay any fee, commissions or any other payments other than the agreed contract value for the works mentioned in the work order.
             </div>
             <table>
              <tr *ngFor="let pay of pays">
                <td>
                 <div class="text-left mat-caption" style="color: teal; font-weight: bold;">  {{pay.Payment_Phase}}</div>
         
                 <div  class="mat-small wb-grey" >{{pay.Comments}}</div>
               
                </td>
                <td class="text-right">
                 <div class="text-right mat-caption" style="color: black; font-weight: bold;"> Expected {{pay.Amount}} on </div>  
                 <div class="text-right mat-caption" style="color: black; font-weight: bold;"> {{pay.Payment_Date | date:'dd/MM/yyyy'}}</div>  
                
                 
                </td>
              </tr>

            </table>
            <div class="note"> 4. Rejection/Termination</div>
                                                <div class="small-note">   
                                                        1.The customer can terminate the work order on the following:-	</div>
                                                        <div class="small-note">   
                                                                * Misbehavior  during work time.</div>
                                                                <div class="small-note">   
                                                                        * Mishandling the materials.	</div>
                                
                                                                        <div  class="small-note">   
                                                                                2. The Associate can terminate the work order on the following:-</div>
                                                                                <div   class="small-note">   
                                                                                        * Misbehavior  during work time.</div>
                                                                                        <div  class="small-note">   
                                                                                                * Not receiving the payment as agreed.	</div>
                                              
                                                                    
                                
                                    
                                                <div class="note"> 5. Cancellation</div>
                                                     <div class="small-note">   
                                                            Inframall reserves the right to cancel this W.O, by giving notification to the Associate.</div>
                                           
                                                                                                               
                                   
                                            <div class="note"> 6. Safety Measures</div>
                                                    <div class="small-note">   
                                                            During the site work the sub-Contract(Associate) need to follow the basic safety rules in the 					
                                                            construction industries. If the sub-Contract(Associate) employees who are working on 						
                                                            roof,balcony they should wear safety belt.									
                                                            Any Issue/Accidents in the site will be under the risk of 2nd Party(Contractor)</div>

                                                                    <div class="note"> 7. Storage:</div>
                                                                            <div class="small-note">   
                                                                                    The customer has to provide sufficient secured storage space to the contractor free of cost.</div>
                                                               
                                    <div class="small-note">                                                          
                                                                    
                                        8. Changes in the scope, specification, work schedule etc should be brought to the notice of Inframall by both Customer & Contractor & should be incorporated in the agreement as amendment.
                                                           
                                                   </div>     
                                     
                                
                                                
                                     
                                            <div class="note"> 9. First Aid Kit</div>
                                                 <div class="small-note">   
                                                        First Aid Kit will provide by 1st Party(Customer). </div>
                                                       
                                                                <div class="note"> 10.Legal</div>
                                                                     <div class="small-note">   
                                                                            If at any time a dispute, difference, or disagreement shall arise between  the parties either 					
                                                                            parties can approach a court of law. In Lieu of breaching this work order neither party shall						
                                                                             take any legal action against the third party .									
                                                                            </div>
                                                                        </div>
  </div>
  
</div>

  