.mat-card{
    text-align:center;
    height: 15rem;
    max-width: 20rem;
    
}
.mat-card-header{
    justify-content:center;
}
.mat-card-content{
    margin-left:2rem !important;
    margin-right:2rem !important;
    margin-top: 1.5rem !important;
  }
